#liveViewContainer {
    position: relative;
	z-index: -1;
  }

  #liveViewOverlayCanvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
   
  }

#myBarChart{
	display: block;
	position: fixed;
	left: 960px;
	top: 0px;
	font-size: 50px;
}